export default ({
    app: {
        port: 3000
    },
    jwt:{
        secret: 'secretnotefortokengeneration'
    },
    mysql: {
        host: 'mysql',
        port: '3306',
        user: 'gian',
        password: 'pass',
        database: 'FindMechsDB',
        charset: 'utf8'
    }
})